build
.idea
.idea
build\ios
*.bin
ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
ios/Flutter
ios/Flutter/App.framework
ios/Flutter
ios/Flutter
.dart_tool/flutter_build
android
*.log
.DS_Store
.dart_tool/flutter_build
